/* import font */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
   font-family: 'Poppins';
   scroll-behavior: smooth !important;
}

body{
   /* trial only not fix color */
   background-color: rgb(131, 131, 56);
}

.navbar {
   background-color: white;
   height: 130px;
   width: 1513px;
   border-radius: 40px;
   align-content: center;
}

.navbar a {
   text-decoration: none;
   color: black;
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
}

.homepage--home{
   height: 200px;
}

body {
   background-color: #f7f7f7;
 }
 
 h1 {
   text-align: center;
   margin-bottom: 20px;
 }
 
 .container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
   display: flex;
   align-items: center;
 }
 
 .grid-wrapper {
   overflow: hidden;
   width: 100%;
   margin-left: 30px;
   margin-right: 30px;
 }
 
 .grids {
   display: flex; /* Flexbox untuk menampilkan tiga grid secara horizontal */
   transition: transform 0.5s ease-in-out;
   width: 300%; /* Lebar dua kali untuk tiga grid */
 }
 
 .grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr); /* 3 kolom */
   grid-template-rows: auto auto auto auto; /* 4 baris */
   gap: 10px;
   width: 100%; /* Lebar grid */
 }
 
 .grid .large-img {
   grid-column: 1 / span 2;
   grid-row: 2;
 }
 
 .grid .top-left {
   grid-column: 1;
   grid-row: 1;
 }
 
 .grid .jogja {
   grid-column: 2;
   grid-row: 1;
 }
 
 .grid .top-right {
   grid-column: 3;
   grid-row: 1;
 }
 
 .grid .middle-right {
   grid-column: 3;
   grid-row: 2;
 }
 
 .grid .bottom {
   grid-column: 4;
   grid-row: 1 / span 2;
 }
 
 .grid div {
   position: relative;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease;
 }
 
 .grid img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
   transition: transform 0.5s ease;
 }
 
 .button {
   background-color: #007bff;
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   font-size: 16px;
   margin: 0 10px;
   border-radius: 5px;
   transition: background-color 0.3s ease;
 }
 
 .button:hover {
   background-color: #0056b3;
 }
 
 .grid div:hover img {
   transform: scale(1.2);
 }
 
 .grid div::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.3);
   transition: opacity 0.3s ease;
   opacity: 0;
 }
 
 .grid div:hover::before {
   opacity: 1;
 }
 
 @media (max-width: 768px) {
   .grid {
     grid-template-columns: 1fr;
     grid-template-rows: auto;
   }
 
   .grid .top-left,
   .grid .jogja,
   .grid .top-right,
   .grid .middle-right,
   .grid .large-img,
   .grid .bottom {
     grid-column: 1;
     grid-row: auto;
   }
 }


 